/.gitattributes export-ignore
/.gitignore export-ignore
/.github export-ignore
/.gitignore export-ignore
/composer.lock export-ignore
/examples export-ignore
/phpcs.xml.dist export-ignore
/phpstan.neon.dist export-ignore
/phpunit.xml.dist export-ignore
/psalm.xml export-ignore
/tests export-ignore
/vendor-bin export-ignore
