parameters:
    autoload_directories:
        - vendor-bin/phpunit/vendor/phpunit/phpunit/src
    level: max
    paths:
        - %currentWorkingDirectory%/src
        - %currentWorkingDirectory%/tests
        - %currentWorkingDirectory%/examples
