parameters:
    checkMissingIterableValueType: false
    level: max
    paths:
        - %currentWorkingDirectory%/src
        - %currentWorkingDirectory%/tests
        - %currentWorkingDirectory%/examples
